<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
        <main>
            <h1>Página inventario de diomedes </h1>
            <img src="https://pbs.twimg.com/media/EWqVONbXsAEElgn.jpg" alt="" width="800" height="500">
            <h2>El usuario se ha conectado a la mejor pagina: <%= msg %></h2>
        </main>
    </body>
</html>
